#main{
    background-color:    rgba(255, 255, 0, 0.524);
    color: white;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: var(--fontstyle);
}
#li{
    color: #3EBFDA;
    background-color: rgb(0, 217, 255);
    
}
#bg{
    background-color: rgba(0, 0, 0, 0.486) ;
    color: white;
}
#block{
    background-color: #636268b8;
    color: white;
}
#my{
    background-color: rgb(0, 217, 255);
    color: white;
}
#at{
    background-color:   rgba(0, 0, 0, 0.486) ;
    color: white;
}
#get{
    background-color: #D06C76;
}